/* -------------------------------- 

File#: _2_faq-v2
Title: Frequent Questions v2
Descr: Q&A template based on the accordion component
Usage: codyhouse.co/license

-------------------------------- */